@use '../properties';

// Content

.content {
  margin-top: properties.$space-rg;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > * {
      flex-basis: 100%;
    }
    
    .toc,
    .article {
      max-width: properties.$article-width;
    }
  }
}
