@use '../variables';
@use '../properties';
@use '../mixins/layout';

// Sidekick

.sidekick {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include layout.py(properties.$space-rg);

    > * {
      display: flex;
      flex-wrap: properties.$wrap-responsive;
      flex: 1;
      align-items: center;
      font-size: variables.$font-sm;
    }

    .sidekick-actions {
      justify-content: properties.$align-centered;

      > * {
        @include layout.my(variables.$gap-xs);

        &:not(:last-child) {
          margin-right: variables.$gap;
        }
      }
    }
  }
}
